body {
    background-image: url(/images/listitem-bg-image.png);
    background-size:80% cover;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333; /* Text color */
}

/* Container for the entire content */
.body-container {
    display: flex;
    flex-direction: column; /* Ensure content stacks vertically */
    align-items: center;
    min-height: 100vh;
}

/* Container for the main content */
.container {
    width: 80%; /* Adjust the width as per your preference */
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Navigation Header */
.nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 23.5px;
    width: 100%;
    box-sizing: border-box;
}

.nav-header img {
    vertical-align: middle; /* Align the image vertically */
    
}

.nav-header h1 {
    margin: 0;
    display: inline; /* Ensure h1 stays inline */
}

.books {
    margin-top: 0; /* Adjust as needed */
    padding-top: 0px;
    width: 100%; /* Ensure full width */
    box-sizing: border-box;
}

/* Styling for individual book items */
.book-container {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center items horizontally */
}

.book-container li {
    margin: 20px; /* Adjust as needed */
    padding: 20px; /* Adjust padding for each book */
}

pre{
    font-family: Arial, sans-serif;
}