.float-left {
    float: left;
    margin-right: 50px; /* Adjust as needed */

}


.container {
    width: 60%; /* Adjust container width as needed */
    margin: auto;
    padding: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.book-container {
    list-style: none;
    margin: 0;
}

.book-container li {
    margin-bottom: 20px;
}

.book-gap{

    padding-bottom: 60px;
}

.nav-header{

    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.body-container {

    padding: 0;
    margin: 0;
    background-color: rgb(232, 235, 239);
}

.edit, .delete, #newAddBtn {

    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 20px;
    padding: 15px;
    background-color: black;
    border-radius: 10px;
}


.books{

    padding-top: 20px;
}